<div class="wrapper">
  <div class="row center-xs">
    <div class="col-xs-10">
      <br>
      <div class="row">
        <div class="col-xs">
          <a routerLink="/livros">
            <div class="card darken-1">
              <div class="card-content ">
                <img src="../../../assets/logo.png" alt="Livros" class="responsive-img">
                <br>
                <br>
                <span class="card-title">Livros</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs">
          <a routerLink="/usuarios">
            <div class="card darken-1">
              <div class="card-content ">
                <img src="../../../assets/usuario.png" alt="Usuários" class="responsive-img">
                <br>
                <br>
                <span class="card-title">Usuários</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs">
          <a routerLink="/avaliacoes">
            <div class="card darken-1">
              <div class="card-content ">
                <img src="../../../assets/avaliacao.png" alt="Avaliações" class="responsive-img">
                <br>
                <br>
                <span class="card-title">Avaliações</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>