<div class="wrapper">
  <div class="row center-xs">
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-12">
          <mz-card [class]="'white darken-1 grey-text text-darken-4'" [hoverable]="false">
            <mz-card-title>
              <div class="row start-xs">
                <div class="col-xs-12">
                  <h5>Cadastro de usuário</h5>
                </div>
              </div>
            </mz-card-title>
            <mz-card-content>
              <div class="row bottom-xs">
                <div class="col-xs-6">
                  <mz-input-container>
                    <input mz-input [label]="'Usuário'" [validate]="false" [dataError]="'Usuário é inválido'" [dataSuccess]="'Usuário é válido'"
                      id="nome-input" [(ngModel)]="usuario.usuario" placeholder="Insira o usuario" type="text">
                  </mz-input-container>
                </div>
                <div class="col-xs-6">
                  <div class="row end-xs">
                    <div class="col-xs-12">
                      <button mat-button class="grey light medium white-text" [routerLink]="['/usuarios']">
                        Cancelar
                      </button>
                      <button mat-button class="blue darken-2 white-text" (click)="save(this)">
                        Salvar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mz-card-content>
          </mz-card>
        </div>
      </div>
    </div>
  </div>
</div>